/* Variables
---------------------------------------- */

:root {
    --font-size-xxl: 2rem;
    --font-size-xl: 1.5rem;
    --font-size-lg: 1.25rem;
    --font-size-md: 1.125rem;
    --font-size-sm: 1rem;
    --font-size-xs: .875rem;
    --font-size-xxs: .75rem;

    --layout-4: 320px;
    --layout-5: 400px;
    --layout-6: 480px;
    --layout-7: 560px;
    --layout-8: 640px;
    --layout-9: 720px;
    --layout-10: 800px;
    --layout-11: 880px;
    --layout-12: 960px;

    --color-accent: rgb(238,51,68);
    --color-foreground: rgb(0,0,68);
    --color-background: rgb(255,255,255);
    --color-gray: rgba(0,0,68,.15);
    --color-silver: rgba(0,0,68,.05);
    --image-filter: none;
    --image-logo: url("/assets/img/common/logo.png");
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: rgb(255,107,107);
        --color-foreground: rgb(230,237,243);
        --color-background: rgb(13,17,23);
        --color-gray: rgba(255,255,255,.15);
        --color-silver: rgba(255,255,255,.05);
        --image-filter: grayscale(50%);
        --image-logo: url("/assets/img/common/logo-dark.png");
    }
}

/* Elements
---------------------------------------- */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    font-size: var(--font-size-md);
    font-weight: 400;
    line-height: 1.4;
    margin: 2rem 1.5rem 4rem;
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, b, strong {
    font-weight: 600;
}

h1, h2, h3 {
    line-height: 1.2;
    margin: 0 0 .75rem;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
    margin-top: 2rem;
}

a {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: .15em;
    color: var(--color-accent);
    transition: text-decoration-color .2s;
}

a:not(:hover) {
    text-decoration-color: transparent;
}

header, main, footer {
    display: block;
}

address, blockquote, details, dl, fieldset, figure, form, ol, p, pre, table, ul {
    margin: 0 0 1.25rem;
}

blockquote {
    border-left: .25rem solid var(--color-gray);
    padding: 0 1rem;
}

button, input, select, textarea {
    font: inherit;
    font-size: var(--font-size-sm);
    line-height: normal;
}

code, pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
    font-size: var(--font-size-xs);
    white-space: pre-wrap;
    background-color: var(--color-silver);
    border: 1px solid var(--color-gray);
}

code {
    padding: .125rem .25rem;
}

pre {
    padding: .75rem;
}

pre code {
    background-color: transparent;
    border: 0;
    padding: 0;
}

pre:has(> code[data-highlighted]) {
    padding: 0;
}

pre + p:has(> code) {
    margin-top: -.625rem;
    margin-bottom: 2.5rem;
}

small {
    font-size: .875em;
}

sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

iframe, img, svg, video {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

img, svg, video {
    height: auto;
}

ol, ul {
    padding-left: 2rem;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    h1 {
        font-size: var(--font-size-xxl);
    }

    h2 {
        font-size: var(--font-size-xl);
    }

    h3 {
        font-size: var(--font-size-lg);
    }
}

/* Main
---------------------------------------- */

.wrapper {
    max-width: var(--layout-8);
    margin: auto;
}

.header {
    margin-bottom: 2rem;
}

.main {
    margin-bottom: 3.125rem;
}

.footer {
    font-size: var(--font-size-sm);
}

.logo a {
    position: relative;
    display: block;
    width: 10rem;
    text-decoration-line: none;
    background: transparent var(--image-logo) 0 0 / contain no-repeat;
}

.logo a:before {
    content: "";
    display: block;
    padding-bottom: 25%;
}

.logo b {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin-right: 1.25rem;
}

.current {
    color: inherit;
}

@supports (background-clip: text) {
    .gradient {
        background: linear-gradient(90deg, #fa5252, #12b886, #228be6);
        background-clip: text;
        color: transparent;
    }
}

.heading {
    font-size: var(--font-size-xxl);
}

.tagline {
    font-size: var(--font-size-lg);
    margin-bottom: 2.5rem;
}

.card {
    margin-bottom: 3rem;
    box-shadow: 0 0 0 1px var(--color-gray);
    background-color: var(--color-background);
}

.card p:last-child {
    margin-bottom: 0;
}

.card-body {
    box-shadow: inset 0 1px 0 0 var(--color-gray);
    padding: 1.5rem;
}

.card-body span {
    font-size: var(--font-size-md);
}

.card-image a {
    display: block;
    text-decoration-line: none;
}

.card-image img {
    width: 100%;
    filter: var(--image-filter);
}

.offline {
    position: relative;
    text-decoration-line: none;
    cursor: default;
}

.offline:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: .25rem 0;
    font-size: var(--font-size-sm);
    white-space: nowrap;
    background-color: var(--color-background);
    color: var(--color-foreground);
    pointer-events: none;
    visibility: hidden;
}

.offline.tooltip:after {
    visibility: visible;
}

.card-image .offline:after {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    margin-top: 2rem;
}

.about {
    max-width: var(--layout-8);
}

.contact {
    max-width: var(--layout-7);
}

.category {
    font-size: var(--font-size-lg);
}

.license {
    max-width: var(--layout-5);
    padding: 1rem;
    margin-top: 2.5rem;
    font-size: var(--font-size-sm);
    border: 1px solid var(--color-gray);
}

.license p {
    margin-bottom: 0;
}

.footer a[href="/toolbox/"] svg {
    margin-top: -2px;
}

.tool > p:has(> a[href="/toolbox/"]) {
    margin-top: 2rem;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 768px) {
    .header {
        margin-bottom: 2.5rem;
    }
    .main {
        margin-bottom: 3.75rem;
    }
    .logo a {
        width: 11.25rem;
    }
    .tagline {
        font-size: var(--font-size-xl);
    }
    .cards {
        margin: 0 -1.875rem;
    }
    @supports (display: grid) {
        .cells {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1rem 3rem;
            margin-top: 2rem;
        }
        .cell {
            margin-top: 0;
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: var(--layout-10);
    }
    .card {
        display: flex;
        flex-direction: row-reverse;
    }
    .card-image {
        flex: 0 0 var(--layout-7);
    }
    .card-body {
        flex: 1;
        padding: 1.875rem;
        box-shadow: inset -1px 0 0 0 var(--color-gray);
    }
}

/* Fonts
---------------------------------------- */

@font-face {
    font-family: "Jost";
    src: url("/assets/font/Jost-Regular.woff2") format("woff2"),
         url("/assets/font/Jost-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("/assets/font/Jost-SemiBold.woff2") format("woff2"),
         url("/assets/font/Jost-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
